:host * {
  transition: all 500ms ease-in-out;
}

h2 {
  margin: 0;
}
.sidenav-img {
  padding-top: 24px;
  text-align: center;
  > img {
    border-radius: 100%;
    object-fit: cover;
  }

  .header-text {
    height: 3rem;

    h2 > {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    > p {
      margin: 0;
      font-size: 0.8rem;
    }
  }
}

.hide-header-text {
  opacity: 0;
  height: 0px !important;
}

.menu-item {
  border-left: 5px solid;
  border-left-color: rgba(0, 0, 0, 0);
}

.selected-menu-item {
  border-left-color: red;
  background: rgb(0, 0, 0, 0.05);
 
}
