<div class="sidenav-img">
  <img
    src="assets/cafe-managament.jpg"
    [width]="profilePicSiza()"
    [height]="profilePicSiza()"
  />
  <div class="header-text" [class.hide-header-text]="sideNavCollpsed()">
    <h2>CafeBistrô</h2>
    <p>Management System</p>
  </div>
</div>

<mat-nav-list>
  <ng-container *ngFor="let item of menuItems()">
    <a
      mat-list-item
      class="menu-item"
      *ngIf="item.role === '' || item.role === tokenPayload.role"
      [routerLink]="item.route"
      routerLinkActive="selected-menu-item"
      #rla="routerLinkActive"
      [activated]="rla.isActive"
    >
      <mat-icon
        [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
        matListItemIcon
        >{{ item.icon }}</mat-icon
      >
      <span
        matListItemTitle
        *ngIf="!sideNavCollpsed()"
        style="
          text-transform: uppercase;
          font-weight: bold;
          font-family: 'Roboto', sans-serif;
        "
        >{{ item.state }}</span
      >
    </a>
  </ng-container>
</mat-nav-list>
