<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Best Seller</h2>
    </div>
    <ul class="timeline">
      <li>
        <a href="assets/img/1.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="assets/img/1.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Pizza</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Pizza é um prato italiano que consiste geralmente em uma massa
              redonda e achatada. base de massa levedada à base de trigo coberta
              com tomate, queijo, e muitas vezes vários outros ingredientes, que
              são então cozidos em alta temperatura temperatura,
              tradicionalmente em forno a lenha. Uma pizza pequena é às vezes
              chamada de pizzetta.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="assets/img/2.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="assets/img/2.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Biryani</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Biryani é um prato misto de arroz. É feito com especiarias
              indianas, arroz, e carne geralmente de frango, peixe e, às vezes,
              em Além disso, ovos ou vegetais, como batatas, em determinadas
              regiões variedades.
            </p>
          </div>
        </div>
      </li>
      <li>
        <a href="assets/img/3.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="assets/img/3.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Pasta</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Pasta é um tipo de alimento tipicamente feito com massa sem fermento de
              farinha de trigo misturada com água ou ovos, e formada em folhas ou
              outros formatos e depois cozidos em fervura ou cozimento.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="assets/img/4.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="assets/img/4.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Molten chocolate cake</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Bolo de chocolate derretido é uma sobremesa popular que combina o
              elementos de um bolo de chocolate e um suflê. Seu nome deriva de
              o centro de chocolate líquido da sobremesa, e também é conhecido como
              moelleux de chocolate, bolo de lava de chocolate ou simplesmente bolo de lava.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Be Part
            <br />
            Of Our
            <br />
            Cafe!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>
