.mat-toolbar {
  margin-bottom: 0;
  width: auto;
  margin-bottom: 10px;
}
.title-center {
  flex: 1 1 auto;
  text-align: center;
}
.card-container {
  max-height: 400px;
  overflow: auto;
  margin: 20px;
}
.card-content {
  overflow-x: auto;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #7a7a7a;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
.card-container {
  th,
  td {
    text-align: center;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 360px) and (max-width: 728px) {
  .card-container {
    max-height: 400px;
    overflow: auto;
  }

  .card-content {
    overflow-x: auto;
    > td,
    th {
      text-align: center;
    }
  }
  #customers {
    td,
    th {
      font-size: 0.7rem;
      text-align: center;
    }
  }
}
