.add-order__content {
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
.card-container {
  max-height: 400px;
  overflow: auto;
  margin: 15px;
}

.card-content {
  overflow-x: auto;
}

button {
  margin: 5px;
}
mat-form-field {
  padding-right: 5px;
}
mat-card {
  margin: 5px;
  padding: 5px;
}
td,
th {
  text-transform: uppercase;
  text-align: center;
}
.mat-mdc-form-field {
  width: 99%;
}
.mat-50 {
  width: 49%;
}
.mat-25 {
  width: 25%;
}

.mat-20 {
  width: 20%;
}
b {
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  padding: 10px;
}
hr {
  margin: 5px;
}
.card-container {
  max-height: 400px;
  overflow: auto;
}

.card-content {
  overflow-x: auto;
}
@media screen and (min-width: 360px) and (max-width: 728px) {
  .mat-25 {
    display: flex;
    flex-direction: column;
    width: 98%;
  }
  .mat-20 {
    width: 98%;
    display: flex;
    flex-direction: column;
  }
  .add-order__content {
    display: flex;
    flex-direction: column;
  }
  .btn-select-product {
    display: flex;
    flex-direction: column;
    > button {
      font-size: size 0.7rem;
    }
  }
}
