.float-right {
  float: right;
}
mat-form-field {
  padding-right: 5px;
}
mat-card {
  margin: 5px;
  padding: 5px;
}
table {
  width: 100%;
}
td,
th {
  text-transform: uppercase;
  text-align: center;
}
