.float-right {
  float: right;
}

.add-category__content {
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

mat-card {
  padding: 10px;
  margin: 10px;
}
table {
  width: 100%;
}
td , th {
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 360px) and (max-width: 728px)  {

  mat-card {
    td, th {
      font-size: .7rem;
    }
  }
  .add-category__content{
    flex-direction: column;

  
    > button {
      font-size: .7rem;
      margin-top: 15px;
    }
  }
}
