.float-right {
  float: right;
}

.add-category__content {
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

mat-card {
  padding: 20px;
}
table {
  width: 100%;
}
