<div>
  <mat-toolbar color="primary" class="mat-elevation-z3 mat-toolbar__content">
    <div class="nav-content">
      <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
      </button>
      <span> Cafe Management System </span>
      <mat-icon style="margin-left: 10px">storefront</mat-icon>
    </div>

    <app-header></app-header>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
      <app-sidebar [collapsed]="collapsed()"></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
