<div>
  <mat-toolbar color="primary" class="mat-elevation-z3 mat-toolbar__content">
    <div class="nav-content">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span> Cafe Management System </span>
      <mat-icon style="margin-left: 10px">storefront</mat-icon>
    </div>

    <app-header></app-header>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav
      #snav
      id="snav"
      mode="push"
      [style.width]="'250px'"
    >
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
