<div class="main-container">
  <mat-toolbar color="primary">
    <div class="nav-content">
      <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
      <span
        >Cafe Management System<mat-icon
          style="transform: translateY(5px); padding-left: 10px"
          >storefront</mat-icon
        ></span
      >
    </div>
    <span>
      <app-header></app-header>
    </span>
  </mat-toolbar>
</div>


<mat-drawer-container aurosize>
  <mat-drawer #drawer opened="false" mode="side">
    <mat-nav-list>
      <mat-list-item>
        
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <div style="text-align: center; min-height: 600px;">

      <router-outlet></router-outlet>

    </div>
  </mat-drawer-content>
</mat-drawer-container>




