.content {
  padding: 24px;
}
mat-toolbar {
  position: relative;
  z-index: 5;
}
mat-sidenav-container {
  height: calc(100vh - 64px);
}
.mat-toolbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out;
}
