mat-toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-content{ 
display: flex;
justify-content: space-between;
align-items: center;
}
