h2 {
  padding: 5px;
}
h1 {
  margin-bottom: 25px;
}
.position-relative {
  position: relative;
}

.add-contact {
  position: absolute;
  right: 17px;
  top: 57px;
}

.column {
  float: left;
  width: 40.3%;
  margin-bottom: 16px;
  padding: 8 8px;
}

.card {
  padding: 10px;
  margin: 10px;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  margin: 15px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: black;
  text-align: center !important;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #e53935;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
