<body>

  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Todas as Categorias</h2>
          <h1 class="title">{{ data?.category }}</h1>
          <p>
            <button class="button" routerLink="/cafe/category">
              VER CATEGORIAS
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Todos os produtos</h2>
          <h1 class="title">{{ data?.product }}</h1>
          <p>
            <button class="button" routerLink="/cafe/product">
              VER PRODUTOS
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Gerenciar Contas</h2>
          <h1 class="title">{{ data?.bill }}</h1>
          <p>
            <button class="button" routerLink="/cafe/bill">
              VER CONTAS
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
