<div class="forgotpassword__container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="title-center">Recuração de senha</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-dialog-content class="mat-dialog__container">
    <form [formGroup]="forgotPasswordForm">
      <div>
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" required/>
          <mat-error
            *ngIf="
              forgotPasswordForm.controls.email.touched &&
              forgotPasswordForm.controls.email.invalid
            "
          >
            <span *ngIf="forgotPasswordForm.controls.email.errors.required">
              Este campo é obrigátorio</span
            >
            <span *ngIf="forgotPasswordForm.controls.email.errors.pattern">
              Este campo é invalido</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
    
      mat-raised-button
      color="primary"
      type="submit"
      (click)="handleSubmit()"
      [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)"
    >
      Recuperar
    </button>
    <button
      
      mat-raised-button
      color="primary"
      mat-dialog-close
    >
      Fechar
    </button>
  </mat-dialog-actions>
</div>
