body {
  background-image: url(../../assets/cup-cafe-management.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
mat-toolbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.name-content {
  align-items: center;
  display: flex;
  > span {
    margin: 5px;
  }
}
.btn-content {
  > button {
    margin: 5px;
  }
}

.lg-content {
  width: 400px;
  margin: auto;
  top: 10%;
}

mat-dialog-actions {
  > button {
    margin-bottom: 15px;
  }
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
}
mat-form-field {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

@media screen and (min-width: 360px) and (max-width: 728px) {
  .toolbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
  }
  .btn-content {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .lg-content {
    width: 300px;
    top: 15%;
  }
}
